table {
    width: 100%;
    border-collapse: collapse;
}

.tableHeader {
    font-weight: bold;
    background-color: #e6b0aa;
}

td {
    border: 1px solid white;
    padding: 3px 0px;
}

.Even {
    background-color: #ddd;
}
